.nav-menu {
  display: none; }

body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100px; }

body#Portfolio {
  background-color: #F9E8F1; }

body#Inspirations {
  background-color: #F5F5DC; }

body#About {
  background-color: #CDF7F4; }

header {
  width: 100%;
  margin-top: -20px;
  top: 100px;
  background-color: #D6D2D3;
  margin: 0 auto;
  left: 0; }

.masterhead {
  background-image: url(../images/sunset.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  position: absolute;
  left: 0;
  top: 100px; }

h1 {
  position: absolute;
  font-size: 2rem;
  font-family: helvetica, arial;
  margin: 0;
  color: black;
  padding: 25px 0 0 550px; }

hr {
  position: absolute;
  width: 25%;
  display: block;
  margin-top: 4em;
  margin-left: 480px;
  color: black; }

h2 {
  font-size: 3rem;
  font-family: 'Lobster', helvetica;
  margin: 0;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 100px; }

.images {
  display: flex;
  height: 110px;
  width: 100vw; }

.images .logo a img {
  position: absolute;
  height: 95px;
  width: auto;
  padding: 2px 100px 10px 20px; }

.images .instagram a img {
  position: absolute;
  padding: 10px 110px 0 0;
  height: 80px;
  width: auto;
  top: 0;
  right: 0; }

.images .email a img {
  position: absolute;
  height: 80px;
  width: auto;
  top: 0;
  right: 0;
  padding: 10px 20px 10px; }

ul {
  position: absolute;
  top: 70px;
  margin: auto;
  padding: 0 0 0 525px;
  letter-spacing: 1px; }

li {
  display: inline-block; }

nav ul li a {
  padding: 0 0 50px 5px;
  list-style-type: none;
  font-family: helvetica;
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center; }

.square {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 16em 0 0 0; }

.square img {
  display: inline-block;
  margin: 18em 0 0 0; }

.left {
  float: left;
  width: 350px;
  height: 250px;
  background: #F9E8F1;
  text-align: center;
  line-height: 400px;
  font-family: helvetica;
  font-size: 20px; }

.left img {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 50px;
  top: 30px; }

.left img:hover {
  box-shadow: 5px 5px 5px 5px #eb9ac5; }

.center {
  display: inline-block;
  margin: 0 auto;
  width: 350px;
  height: 250px;
  background: #F5F5DC;
  text-align: center;
  line-height: 400px;
  font-family: helvetica;
  font-size: 20px; }

.center img {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 520px;
  top: 30px; }

.center img:hover {
  box-shadow: 5px 5px 5px 5px #ecec70; }

.right {
  float: right;
  width: 350px;
  height: 250px;
  background: #CDF7F4;
  text-align: center;
  line-height: 400px;
  font-family: helvetica;
  font-size: 20px; }

.right img {
  position: absolute;
  width: 250px;
  height: 150px;
  right: 45px;
  top: 30px; }

.right img:hover {
  box-shadow: 5px 5px 5px 5px #75dfd8; }

.articles {
  display: inline-block;
  width: 100%; }

.article3 {
  float: left; }
  .article3 img {
    position: absolute;
    width: 100%;
    bottom: 170px; }
  .article3 p {
    position: absolute;
    font-family: helvetica;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: solid transparent;
    width: 340px;
    height: 140px;
    top: 38rem; }

.article4 {
  display: inline-block;
  margin: 0 auto; }
  .article4 img {
    position: absolute;
    width: 100%;
    bottom: 170px; }
  .article4 p {
    position: absolute;
    font-family: helvetica;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: solid transparent;
    width: 340px;
    height: 140px;
    top: 38rem;
    right: 465px; }

.article5 {
  float: right; }
  .article5 img {
    position: absolute;
    width: 100%;
    bottom: 170px; }
  .article5 p {
    position: absolute;
    font-family: helvetica;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: solid transparent;
    width: 340px;
    height: 140px;
    top: 38rem;
    right: 40px; }

.article6 {
  float: left; }
  .article6 img {
    position: absolute;
    width: 75%;
    bottom: 170px; }
  .article6 p {
    position: absolute;
    font-family: helvetica;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: solid transparent;
    width: 340px;
    height: 140px;
    top: 40rem; }

.article7 {
  display: inline-block;
  margin: 0 auto; }
  .article7 img {
    position: absolute;
    width: 100%;
    bottom: 170px; }
  .article7 p {
    position: absolute;
    font-family: helvetica;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: solid transparent;
    width: 340px;
    height: 140px;
    top: 40rem;
    left: 425px; }

.article8 {
  float: right; }
  .article8 img {
    position: absolute;
    width: 75%;
    bottom: 170px; }
  .article8 p {
    position: absolute;
    font-family: helvetica;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: solid transparent;
    width: 340px;
    height: 140px;
    top: 40rem;
    right: -45px; }

.article1 img {
  position: absolute;
  width: 100%;
  bottom: 174px;
  right: -5px; }

.article1 p {
  position: absolute;
  font-family: helvetica;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: solid transparent;
  width: 340px;
  height: 140px;
  left: 5px;
  top: 630px; }

.image img {
  display: inline-block;
  width: 36%;
  height: 45%;
  bottom: 9px;
  right: 410px;
  position: absolute; }

.article2 img {
  position: absolute;
  width: 100%;
  height: 130%;
  right: -5px;
  bottom: 186px; }

.article2 p {
  position: absolute;
  font-family: helvetica;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: solid transparent;
  width: 340px;
  height: 150px;
  top: 627px;
  right: 14px; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar,
  h1,
  hr {
    display: none; }
  .images .instagram a img {
    right: 70px;
    top: 15px;
    width: 50px;
    height: 50px; }
  .images .email a img {
    right: 100px;
    top: 15px;
    width: 50px;
    height: 50px; }
  .square {
    display: inline-block;
    vertical-align: bottom; }
  .square .left {
    position: relative;
    left: 25px; }
    .square .left img {
      top: -330px;
      right: 100px; }
  .square .center img {
    top: 285px;
    left: 76px; }
  .square .right {
    position: relative;
    right: 25px;
    margin-bottom: 50px; }
    .square .right img {
      top: -330px;
      right: 50px; }
  .article3 p {
    right: 27px; }
  .article4 p {
    left: -13px;
    top: 900px; }
  .article5 p {
    float: none;
    position: absolute;
    top: 1210px;
    left: -12px; }
  .article6 p {
    right: -83px;
    top: 700px;
    width: 110%; }
  .article7 p {
    width: 80%;
    left: -2px;
    top: 1050px; }
  .article8 p {
    top: 1550px;
    width: 110%;
    left: -5px; }
  .image img {
    margin: 0 auto;
    text-align: center;
    right: 20px;
    width: 90%;
    top: 48rem; }
  .article1 p {
    left: 1px; }
  .article2 p {
    top: 1350px;
    left: 1px; }
  .nav-menu-button {
    width: 35px;
    top: 100px; }
  .nav-menu-button-bar {
    position: relative;
    height: 4px;
    margin: 5px 2px;
    background-color: #333;
    transition: 0.3s;
    top: -75px;
    left: 350px; } }
